.hero-section{
    background-image: url("../assets/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
}

.heading{
    font-size: 2.88rem;
    word-spacing: 2px;
    color: white;
}

.hero-section img {
    display: block;
    margin-bottom: 5rem;
}

@media (max-width:420px) {
    .hero-section h1 {
        font-size: 28px;
    }
}